<!DOCTYPE html>
<html>
    <head>
        <title>TELA</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link rel="stylesheet" href="custom.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>
    </head>
    <body>

          
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="tela.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--
        <div ng-app="tela" ng-controller="tela_ctrl">
        </div>
-->
        <div ng-app="dash" ng-controller="dash_ctrl">
            <div id="sidemenu">
                <img src="telaLogo.png" width="60px;" id="side_logo"> 
                <h4>Hello,</h4>
                <h4>{{name}}</h4>
                <hr style="display: block;
                           height: 1px;
                           border: 0;
                           border-top: 1px solid #9b9b9b;
                           margin-top:20px;
                           margin-bottom:20px;
                           padding: 0; ">
                
                <ul>
                    <li class="sidemenuitem" ng-repeat="o in options" style="color: {{o.color}}" ng-click="change()">{{o.value}}</li>
                </ul>
            </div>
            
            <script>
                 $("#sidemenu").height($(window).height()-60);
                $( window).resize(function() {
                    $("#sidemenu").height($(window).height()-60);
                });
            </script>
        </div>
        
        
        
    </body>
</html>