<!DOCTYPE html>
<html>
    <head>
        <title>TELA</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link rel="stylesheet" href="custom.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        
<!--        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3wSmnLBZ5c72rIOa-1SY7pRWEytnd0Dw&callback=initMap" async defer></script>-->
        
        <script src='https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src='angular-simple-logger.js'></script>
        
        <script src="angular-google-maps.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src='//maps.googleapis.com/maps/api/js?key=AIzaSyD3wSmnLBZ5c72rIOa-1SY7pRWEytnd0Dw'></script>
<!--
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
                });
            }
            initMap();
        </script>
        
-->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="tela.js"></script>
        


        
        <div ng-app="dash" ng-controller="dash_ctrl" style="width:100%;margin:0px;">
            
            <nav class="navbar navbar-default" style="width:100%;margin:0px;" id="navbar">
                <div class="container-fluid"  style="width:100%;margin:0px;">
    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header"  style="width:100%;margin:0px;">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <!--                        <span class="sr-only">Toggle navigation</span>-->
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#" style="margin:-5px;"><img src="telaLogo.png" width="30px;"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Order</a></li>
                            <li><a href="#">Setting</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        

            
            <div class="row" style="margin:0px;">
                <div id="sidemenu" class="col-lg-3">
                    <img src="telaLogo.png" width="60px;" id="side_logo"> 
                    <h4>Hello,</h4>
                    <h4>{{name}}</h4>
                    <hr style="display: block;
                               height: 1px;
                               border: 0;
                               border-top: 1px solid #9b9b9b;
                               margin-top:20px;
                               margin-bottom:20px;
                               padding: 0; ">

                    <ul>
                        <li class="sidemenuitem" ng-repeat="o in options" style="color: {{o.color}}" ng-click="change()">{{o.value}}</li>
                    </ul>
                </div>
                                  
                <div id="dashboard" class="col-lg-9">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-6">
                            <div id="tracker">
                                <h2>Tracking</h2>
                            </div>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-6">
                            <div id="subscription">
                                <h2>Subscription</h2>
                                <p><b>Subscription Type: </b> {{subscription_type}}</p>
                                <p><b>Next Payment: </b> April 28th</p>
                                <p><b>Next Payment Amount: </b> ${{payment[subscription_type]}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin:0px;">
                        <div class="col-md-6">
                            <div id="order_history">
                                <h2>Order History</h2>
                                
                                    <table class="table" id="orderhistory">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Quantity</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="o in orders">
                                            <td>#{{o['order_num']}}</td>
                                            <td>{{o['quantity']}}</td>
                                            <td>{{o['time']}} {{o['date']}}</td>
                                            <td>{{status_message[o['status']]}}</td>
                                            </tr>
                                    
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>         
                </div>
                
                <div id="tracking" class="col-lg-9">
                    <div class="row" style="margin-0px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8" id="main_body">
                            <center>
                                <h1>Tracking</h1> 
                                <div id="tracking_box"></div>
                            </center>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>     
                </div>  
                
                <div id="order" class="col-lg-9">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-8" id="main_body_order">
                            <center>
                                <h1>Order</h1> 
                             </center>   
                                
                                <form class="form" style="display:block;">
                                    <div class="form-group" style="display:inline-block;">
                                        <label for="quantity">Quantity</label>
                                        <input type="number" class="form-control" id="quantity" style="width:100px;padding-top:0px;" ng-model="new_quantity">
                                    </div>
                                
                                    
                                    <div class="form-group" style="display:inline-block;margin-left:20px;">
                                        <label for="pickup_time">Pickup Time</label>
                                        <input type="text" class="form-control" id="pickup_time" style="padding-top:0px;" ng-model="new_time">
                                    </div>
                                </form>

                                <form class="form" style="display:block;">
                                    <div class="form-group" style="display:inline-block">
                                        <label for="address">Address:</label>
                                        <input type="text" class="form-control" id="address" style="width:300px;padding-top:0px;" ng-model="new_address">
                                    </div>
                                    
                                    <div class="form-group" style="display:inline-block;margin-left:20px;">
                                        <label for="cell">Cell:</label>
                                        <input type="tel" class="form-control" id="cell" style="width:150px;padding-top:0px;" ng-model="new_cell">
                                    </div>
                                </form>   
                            
                                <img src="map.png" width="400px" id="map">
                                
                            <a class="btn_link" style="float:right;margin-top:10px;" ng-click="goto_dash()"><center>Order</center></a>
<!--                            <input type="submit" value="Order" class="btn reg_btn">-->
<!--                            <button class="btn btn-default" style="float:right;margin-top:10px;">Order</button>-->
                            
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div> 
                
                <div id="setting" class="col-lg-9">        
                </div> 
            </div>
            
            <script>
               if($(window).width()>900){
                    $("#orderhistory").width(500);
                }
                else {
                    $("#orderhistory").width(300);
                }
   
                if($(window).width()>700){
                    $("#navbar").hide();
                    $("#sidemenu").show();
                }
                else{
                    $("#navbar").show();
                    $("#sidemenu").hide();
                }
                
                $("#sidemenu").height($(window).height()-60);
                $("#dashboard").height($(window).height()-60);
                $("#dashboard").width($(document).width()-360);
//                
//                $("#tracking").height($(window).height()-60);
//                $("#tracking").width($(document).width()-360);
//                
//                $("#order").height($(window).height()-60);
//                $("#order").width($(document).width()-360);
//                
//                $("#setting").height($(window).height()-60);
//                $("#setting").width($(document).width()-360);
                
                $(window).resize(function() {
                    $("#sidemenu").height($(window).height()-60);
                    $("#dashboard").height($(window).height()-60);
                    $("#dashboard").width($(document).width()-360);
                           
//                    $("#tracking").height($(window).height()-60);
//                    $("#tracking").width($(document).width()-360);
//
//                    $("#order").height($(window).height()-60);
//                    $("#order").width($(document).width()-360);
//
//                    $("#setting").height($(window).height()-60);
//                    $("#setting").width($(document).width()-360);

                    if($(window).width()>900){
                        $("#orderhistory").width(500);
                    }
                    else {
                        $("#orderhistory").width(300);
                    }
                        
                    
                    if($(window).width()>700){
                        $("#navbar").hide();
                        $("#sidemenu").show();
                    }
                    else{
                        $("#navbar").show();
                        $("#sidemenu").hide();
                    }
                }); 
            </script>

        </div>
        
        
        
    </body>
</html>